<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <!-- 工具栏 id="toolbar" class="toolbar" -->
                    <div class="toolbar" id="toolbar">
                        {:build_toolbar('refresh,add,edit,del,import')}
                    </div>
                    <table class="table table-striped table-bordered table-hover table-nowrap" data-operate-del="{:$auth->check('subject/subject/del')}"
                           data-operate-edit="{:$auth->check('subject/subject/edit')}"
                           id="table"
                           width="100%">
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
