<link href="__PUBLIC__assets/home/css/center.css" rel="stylesheet" />

<body>
<!-- 头部 -->
<div class="user">
    <div class="avatar wow fadeInUp">
        <img src="{$business.avatar_text}" />
    </div>

    <div class="nickname wow fadeInUp" data-wow-delay="100ms">{$business.nickname}</div>
</div>

<!-- 菜单 -->
<div class="menulist wow fadeInUp" data-wow-delay="300ms">
    <a class="item" href="{:url('/home/business/profile')}">
        <span>基本资料</span>
        <img src='__PUBLIC__assets/home/images/row.png' />
    </a>
    {if condition="!$business.auth"}
    <a href="{:url('/home/business/email')}" class="item">
        <span>邮箱认证</span>
        <img src='__PUBLIC__assets/home/images/row.png' />
    </a>
    {/if}
    <a class="item" href="{:url('/home/business/order')}">
        <span>我的订单</span>
        <img src='__PUBLIC__assets/home/images/row.png' />
    </a>
    <a class="item" href="{:url('/home/business/record')}">
        <span>我的消费</span>
        <img src='__PUBLIC__assets/home/images/row.png' />
    </a>
    <a class="item" href="{:url('/home/business/recharge')}">
        <span>充值</span>
        <img src='__PUBLIC__assets/home/images/row.png' />
    </a>
    <a class="item" href="{:url('/home/business/contact')}">
        <span>联系我们</span>
        <img src='__PUBLIC__assets/home/images/row.png' />
    </a>
    <a id="logout" href="javascript:void(0)" class="item">
        <span>退出</span>
        <img src='__PUBLIC__assets/home/images/row.png' />
    </a>
</div>


<!-- 底部 -->
{include file="common/footer"/}
</body>

<script>
    $('#logout').click(() => {
        mui.confirm(
            '是否确认退出',
            '退出提醒',
            ['确认','取消'],
            function(res)
            {
                if(res.index === 0)
                {
                    mui.toast('退出成功')

                    // 关闭当前窗口
                    $('.mui-popup-backdrop').remove()
                    $('.mui-popup').remove()

                    setTimeout(() => {
                        location.href = '{:url(\'home/index/login\')}'
                    }, 500)
                }
            }
        )
    })
</script>