<link href="__PUBLIC__assets/home/css/recharge.css" rel="stylesheet"/>

<body>
<div style="height: 72px;
width: 100%;
box-shadow:inset 0 0 24px 0px white;
text-align: center;
line-height: 72px;
font-size: 36px;
font-weight: bolder;
color: #d5fdfa;
background-image: linear-gradient(115deg,#a4d0ff 0,#6eabf0 80%,#6eabff 100%)">
    适度充值
</div>
<form class="mui-input-group" method="post">
    <div class="mui-input-row">
        <label class="title">当前余额(￥)：</label>
        <input class="mui-input-clear money" readonly type="number" value="1"/>
    </div>
    <div class="mui-input-row">
        <label class="title">充值金额(￥)：</label>
        <input class="mui-input-clear money" min="1" name="money" placeholder="请输入充值金额" required type="number"/>
    </div>

    <!--立即充值-->
    <button class="mui-btn mui-btn-primary mui-btn-outlined btn" type="submit">立即充值</button>
</form>
<!-- 底部 -->
{include file="common/footer" /}
</body>
