<form action="" class="form-horizontal" data-toggle="validator" id="add-form" method="POST" role="form">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Mobile')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control" id="c-mobile" name="row[mobile]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Nickname')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control" id="c-nickname" name="row[nickname]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Password')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control" id="c-password" name="row[password]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Salt')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control" id="c-salt" name="row[salt]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Avatar')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input class="form-control" id="c-avatar" name="row[avatar]" size="50" type="text" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button class="btn btn-danger faupload" data-input-id="c-avatar" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp,image/webp"
                                  data-multiple="false"
                                  data-preview-id="p-avatar"
                                  id="faupload-avatar" type="button"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button class="btn btn-primary fachoose" data-input-id="c-avatar" data-mimetype="image/*"
                                  data-multiple="false" id="fachoose-avatar" type="button"><i
                            class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-avatar"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-avatar"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Gender')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select class="form-control selectpicker" id="c-gender" name="row[gender]">
                {foreach name="genderList" item="vo"}
                <option name="key" value="{$key}" value="0" {in }selected{
                /in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Sourceid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control" id="c-sourceid" min="0" name="row[sourceid]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Deal')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select class="form-control selectpicker" id="c-deal" name="row[deal]">
                {foreach name="dealList" item="vo"}
                <option name="key" value="{$key}" value="0" {in }selected{
                /in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Openid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control" id="c-openid" name="row[openid]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Province')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control" id="c-province" name="row[province]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('City')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class='control-relative'><input class="form-control" data-toggle="city-picker" id="c-city"
                                                 name="row[city]" type="text"></div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('District')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control" id="c-district" name="row[district]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Adminid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control" id="c-adminid" min="0" name="row[adminid]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Money')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control" id="c-money" min="0" name="row[money]" step="0.01" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Email')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control" id="c-email" name="row[email]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Auth')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select class="form-control selectpicker" id="c-auth" name="row[auth]">
                {foreach name="authList" item="vo"}
                <option name="key" value="{$key}" value="0" {in }selected{
                /in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button class="btn btn-primary btn-embossed disabled" type="submit">{:__('OK')}</button>
        </div>
    </div>
</form>
