<link href="__PUBLIC__assets/home/css/buy-complete.css" rel="stylesheet"/>
<body>
<div class="weui-msg">
    <div class="weui-msg__icon-area">
        <img alt="" src="__PUBLIC__assets/home/images/success.png">
    </div>
    <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">购买完成</h2>
        <p class="weui-msg__desc">您可以在个人中心我的订单中查看，或者返回后买页面点击上方的视频播放观看视频</p>
    </div>
    <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
            <a class="weui-btn weui-btn_primary" href="{:url('home/business/order')}">查看订单</a>
            <a class="weui-btn weui-btn_default" href="{$redirect}">返回购买页</a>
        </p>
    </div>
</div>
</body>