<link href="__PUBLIC__assets/home/css/swiper-bundle.css" rel="stylesheet">
<link href="__PUBLIC__assets/home/css/index.css" rel="stylesheet"/>
<script src="__PUBLIC__assets/home/js/swiper-bundle.min.js"></script>
<style>
    .title {
        font-weight: bold;
        color: #0000008c;
    }

    .mui-table-view-cell {
        box-shadow: inset 0 0 32px 4px #00000015, 1px 1px 3px #91a1cc, -1px -1px 1px white, 0 0 32px #00000051;
        border-radius: 12px;
        margin-right: unset !important;
        margin: 4px 0 !important;
        scale: .97;
    }

    .mui-table-view.mui-grid-view > .mui-table-view-cell {
        padding: 4px 8px !important
    }

    .mui-table-view.mui-grid-view > .mui-table-view-cell a {
        margin: unset !important;
        padding: unset !important;
    }

    .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body {

    }

    .mui-table-view.mui-grid-view {
        padding: unset !important;
    }

    .imgs {
        background: repeating-radial-gradient(circle, #000000aa, white);
        border-radius: 12px;
        padding: 1px;
    }

    .imgs img {
        border-radius: 12px;
    }

    .mui-table-view-cell .info {
        align-content: space-evenly;
    }
</style>
<body>
<div class="mui-content">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            {foreach $carousel as $item}
            <div class="swiper-slide">
                <a href="{:url('home/index/info', ['pid' => $item['id']])}">
                    <img src="{$item.thumbs_text}">
                    <p class="mui-slider-title">{$item.title}</p>
                </a>
            </div>
            {/foreach}
        </div>
        <div class="swiper-pagination" style="text-align: right;"></div>
    </div>
</div>

<div class="mui-content">
    <h5 class="title">精选课程</h5>
    <ul class="mui-table-view mui-grid-view">
        {foreach $list as $item}
        <li class="mui-table-view-cell mui-media mui-col-xs-6">
            <a href="{:url('home/index/info', ['pid' => $item['id']])}">
                <div class="imgs">
                    <img class="mui-media-object" src="{$item.thumbs_text}">
                </div>
                <div class="mui-media-body">{$item.title}</div>
            </a>
        </li>
        {/foreach}
    </ul>
</div>

<!-- 底部 -->
{include file="common/footer"/}
</body>
<script>
    var swiper = new Swiper(".mySwiper", {
        pagination: {
            el: ".swiper-pagination",
        },
    });
</script>