<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>微信平台视频付费系统</title>
    <link href="__PUBLIC__assets/home/css/mui.min.css" rel="stylesheet"/>
    <link href="__PUBLIC__assets/home/css/swiper-bundle.css" rel="stylesheet">
    <link href="__PUBLIC__assets/home/css/reset.css" rel="stylesheet"/>
    <link href="__PUBLIC__assets/home/css/index.css" rel="stylesheet"/>
    <script src="__PUBLIC__assets/home/js/jquery-1.9.1.min.js"></script>
    <script src="__PUBLIC__assets/home/js/mui.min.js"></script>
    <script src="__PUBLIC__assets/home/js/swiper-bundle.min.js"></script>
</head>

<body>
<div class="mui-content">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="">
                    <img src="__PUBLIC__assets/home/images/video5.png">
                    <p class="mui-slider-title">Javascript从零开始</p>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="">
                    <img src="__PUBLIC__assets/home/images/video3.png">
                    <p class="mui-slider-title">Javascript从零开始1111</p>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="">
                    <img src="__PUBLIC__assets/home/images/video2.png">
                    <p class="mui-slider-title">Javascript从零开始222</p>
                </a>
            </div>
        </div>
        <div class="swiper-pagination" style="text-align: right;"></div>
    </div>
</div>

<div class="mui-content">
    <h5 class="title">精选课程</h5>
    <ul class="mui-table-view mui-grid-view">
        <li class="mui-table-view-cell mui-media mui-col-xs-6">
            <a href="details.html">
                <div class="imgs">
                    <img class="mui-media-object" src="__PUBLIC__assets/home/images/video6.png">
                </div>
                <div class="mui-media-body">Java基础视频</div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media mui-col-xs-6">
            <a href="details.html">
                <div class="imgs">
                    <img class="mui-media-object" src="__PUBLIC__assets/home/images/video2.png">
                </div>
                <div class="mui-media-body">.Net基础视频</div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media mui-col-xs-6">
            <a href="details.html">
                <div class="imgs">
                    <img class="mui-media-object" src="__PUBLIC__assets/home/images/video.jpg">
                </div>
                <div class="mui-media-body">Java基础视频</div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media mui-col-xs-6">
            <a href="details.html">
                <div class="imgs">
                    <img class="mui-media-object" src="__PUBLIC__assets/home/images/video2.png">
                </div>
                <div class="mui-media-body">.Net基础视频</div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media mui-col-xs-6">
            <a href="details.html">
                <div class="imgs">
                    <img class="mui-media-object" src="__PUBLIC__assets/home/images/video6.png">
                </div>
                <div class="mui-media-body">Java基础视频</div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media mui-col-xs-6">
            <a href="details.html">
                <div class="imgs">
                    <img class="mui-media-object" src="__PUBLIC__assets/home/images/video2.png">
                </div>
                <div class="mui-media-body">.Net基础视频</div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media mui-col-xs-6">
            <a href="details.html">
                <div class="imgs">
                    <img class="mui-media-object" src="__PUBLIC__assets/home/images/video.jpg">
                </div>
                <div class="mui-media-body">Java基础视频</div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media mui-col-xs-6">
            <a href="details.html">
                <div class="imgs">
                    <img class="mui-media-object" src="__PUBLIC__assets/home/images/video2.png">
                </div>
                <div class="mui-media-body">.Net基础视频</div>
            </a>
        </li>
    </ul>
</div>

<!-- 底部 -->
<div class="footer">
    <nav class="footer-bar">
        <div class="tab-item  mui-active">
            <a href="index.html">
                <span class="mui-icon mui-icon-home"></span>
                <span class="mui-tab-label">首页</span>
            </a>
        </div>
        <div class="tab-item">
            <a href="search.html">
                <span class="mui-icon mui-icon-search"></span>
                <span class="mui-tab-label">搜索</span>
            </a>
        </div>
        <div class="tab-item">
            <a href="center.html">
                <span class="mui-icon mui-icon-contact"></span>
                <span class="mui-tab-label">我的</span>
            </a>
        </div>
    </nav>
</div>
</body>
</html>
<script>
    var swiper = new Swiper(".mySwiper", {
        pagination: {
            el: ".swiper-pagination",
        },
    });
</script>