 <link href="__PUBLIC__assets/home/css/login.css" rel="stylesheet" type="text/css"/>


<body>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" method="post">
                <div class="login100-form-avatar">
                    <img src="__PUBLIC__assets/home/images/pexels-spencer-selover-428364.jpg"/>
                </div>

                <div class="wrap-input100 validate-input">
                    <input class="input100" name="mobile" placeholder="手机号码" type="text" value="13060808099">
                </div>

                <div class="wrap-input100 validate-input">
                    <input class="input100" name="password" placeholder="密码" type="password" value="123">
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">注 册</button>
                </div>

                <div class="action">
                    <a class="txt1" href="{:url('home/index/login')}">立即登录 》</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>