<form action="" class="form-horizontal" data-toggle="validator" id="edit-form" method="POST" role="form">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control" id="c-name" name="row[name]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Flag')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select class="form-control selectpicker" id="c-flag" name="row[flag]">
                {foreach name="flagList" item="vo"}
                <option value="{$key}">{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Typeid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control selectpage"
                   data-field="name"
                   data-page-size="7"
                   data-primary-key="id"
                   data-rule="required"
                   data-search-field="name"
                   data-source="product.type/selectpage"
                   id="c-typeid"
                   name="row[typeid]"
                   value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Unitid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control selectpage"
                   data-field="name"
                   data-page-size="7"
                   data-primary-key="id"
                   data-rule="required"
                   data-search-field="name"
                   data-source="product.unit/selectpage"
                   id="c-unitid"
                   name="row[unitid]"
                   value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control" id="c-price" name="row[price]" step="0.01" type="number"
                   value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">

            <div class="radio">
                {foreach name="statusList" item="vo"}
                <label for="row[status]-{$key}"><input id="row[status]-{$key}" name="row[status]" type="radio"
                                                       value="{$key}"/> {$vo}</label>
                {/foreach}
            </div>

        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Thumbs')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input class="form-control" data-rule="" id="c-avatar" name="row[thumbs]" readonly size="50" type="text"
                       value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button class="btn btn-danger faupload" data-input-id="c-avatar" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp"
                                  data-multiple="false"
                                  data-preview-id="p-avatar"
                                  id="faupload-avatar" type="button"><i
                            class="fa fa-upload"></i> 上传</button></span>
                    <span><button class="btn btn-primary fachoose" data-input-id="c-avatar" data-mimetype="image/*"
                                  data-multiple="false" id="fachoose-avatar" type="button"><i
                            class="fa fa-list"></i> 选择</button></span>
                </div>
                <span class="msg-box n-right" for="c-avatar"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-avatar"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Content')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea class="form-control editor" cols="50" id="c-content" name="row[content]" rows="5"></textarea>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button class="btn btn-primary btn-embossed disabled" type="submit">{:__('OK')}</button>
        </div>
    </div>
</form>
