<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>云课堂</title>
    <link href="__PUBLIC__assets/home/css/mui.min.css" rel="stylesheet"/>
    <link href="__PUBLIC__assets/home/css/reset.css" rel="stylesheet"/>



    <script src="__PUBLIC__assets/home/js/jquery-1.9.1.min.js"></script>
    <script src="__PUBLIC__assets/home/js/mui.min.js"></script>
</head>

{__CONTENT__}

</html>