<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        {:build_heading()}
        <ul class="nav nav-tabs" data-field="status">
            <li class="active"><a data-toggle="tab" data-value="" href="#detail">{:__('Customer Details')}</a></li>
            <li class=""><a data-toggle="tab" data-value="" href="#visited">{:__('Return Visit List')}</a></li>
            <li class=""><a data-toggle="tab" data-value="" href="#application">{:__('Application Record')}</a></li>
            <li class=""><a data-toggle="tab" data-value="" href="#expensed">{:__('Expenses Record')}</a></li>
            <li class=""><a data-toggle="tab" data-value="" href="#order">{:__('Course Order')}</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade active in" id="detail">
                <div class="widget-body no-padding">
                    <form action="#" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">{:__('Source')}:</label>
                            <div class="col-xs-12 col-sm-8">
                                <select class="form-control selectpicker" data-rule="required" disabled id="c-sourceid"
                                        name="row[sourceid]" readonly>
                                    {foreach name="sourceList" item="vo"}
                                    <option condition="$row.sourceid==$vo.id" name="key" value="{$vo.id}" {if }selected{
                                    /if}>{$vo.name}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">{:__('Nickname')}:</label>
                            <div class="col-xs-12 col-sm-8">
                                <input class="form-control" data-rule="required;" id="c-nickname" name="row[nickname]"
                                       readonly type="text" value="{$row.nickname}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">{:__('Mobile')}:</label>
                            <div class="col-xs-12 col-sm-8">
                                <input class="form-control" data-rule="required;mobile" id="c-mobile" name="row[mobile]"
                                       readonly type="text"
                                       value="{$row.mobile}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">{:__('Gender')}:</label>
                            <div class="col-xs-12 col-sm-8">
                                <select class="form-control selectpicker" disabled id="c-gender" name="row[gender]"
                                        readonly>
                                    {foreach name="genderList" item="vo"}
                                    <option condition="$row.gender==$key" name="key" value="{$key}" {if }selected{
                                    /if}>{$vo}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">{:__('Email')}:</label>
                            <div class="col-xs-12 col-sm-8">
                                <input class="form-control" data-rule="required;email" id="c-email" name="row[email]"
                                       readonly type="text" value="{$row.email}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">{:__('Area')}:</label>
                            <div class="col-xs-12 col-sm-8">
                                <div class='control-relative'>
                                    <input class="form-control" data-toggle="city-picker"
                                           id="c-area"
                                           readonly type="text" value="{$row.province_text}/{$row.city_text}/{$row.district_text}"></div>
                                <input class="hidden" id="city" name="row[city]" value="{$row.city}">
                                <input class="hidden" id="province" name="row[province]" value="{$row.province}">
                                <input class="hidden" id="district" name="row[district]" value="{$row.district}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">{:__('Avatar')}:</label>
                            <div class="col-xs-12 col-sm-8">
                                <img class="avatar-img avatar" src="{:cdnurl($row.avatar_text)}"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade" id="visited">
                <div class="widget-body no-padding">
                    <div class="toolbar" id="visited_toolbar">
                        <a class="btn btn-primary btn-refresh" href="javascript:;" title="{:__('Refresh')}"><i
                                class="fa fa-refresh"></i> </a>
                    </div>
                    <table class="table table-striped table-bordered table-hover table-nowrap" id="visited_table"
                           width="100%">
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="application">
                <div class="widget-body no-padding">
                    <div class="toolbar" id="application_toolbar">
                        <a class="btn btn-primary btn-refresh" href="javascript:;" title="{:__('Refresh')}"><i
                                class="fa fa-refresh"></i> </a>
                    </div>
                    <table class="table table-striped table-bordered table-hover table-nowrap" id="application_table"
                           width="100%">
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="expensed">
                <div class="widget-body no-padding">
                    <div class="toolbar" id="expensed_toolbar">
                        <a class="btn btn-primary btn-refresh" href="javascript:;" title="{:__('Refresh')}"><i
                                class="fa fa-refresh"></i> </a>
                    </div>
                    <table class="table table-striped table-bordered table-hover table-nowrap" id="expensed_table"
                           width="100%">
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="order">
                <div class="widget-body no-padding">
                    <div class="toolbar" id="order_toolbar">
                        <a class="btn btn-primary btn-refresh" href="javascript:;" title="{:__('Refresh')}"><i
                                class="fa fa-refresh"></i> </a>
                    </div>
                    <table class="table table-striped table-bordered table-hover table-nowrap" id="order_table"
                           width="100%">
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>