<form action="" class="form-horizontal" data-toggle="validator" id="edit-form" method="POST" role="form">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Supplierid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control selectpage"
                   data-field="name"
                   data-page-size="7"
                   data-primary-key="id"
                   data-rule="required"
                   data-search-field="name"
                   data-source="depot.supplier/selectpage"
                   id="name"
                   name="row[supplierid]"
                   value="{$row.supplierid}"
            >
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select ${row.type} class="form-control selectpicker" id="type" name="row[type]">
                {foreach name="typeList" item="vo"}
                <option condition="$row.type == $key" name="key" value="{$key}" {if }selected{
                /if}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Remark')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea class="form-control "
                      cols="50"
                      id="remark"
                      name="row[remark]"
                      rows="5">{$row.remark}</textarea>
        </div>
    </div>


    <!--    商品表-->
    <div>
        <div class="toolbar" id="toolbar">
            <a class="btn btn-primary" href="javascript:;" id="addProduct" title="{:__('AddProduct')}"><i
                    class="fa fa-plus"></i>添加商品 </a>
        </div>
        <table class="table table-striped table-bordered table-hover table-nowrap" id="table" width="100%">
            <thead id="table-head">
            </thead>
            <tbody id="table-body">

            {foreach $row.storage_products as $key=>$item}
            <tr data-id="{$item.product.id}">
                <td class="" data-value="{$item.product.id}">{$item.product.id}</td>
                <td class="" data-value="{$item.product.name}">{$item.product.name}</td>
                <td class="" data-value="{$item.product.thumb}"><img src="{$item.product.thumb}"
                                                                     style="width: 32px;height: 32px;"></td>
                <td class="" data-value="{$item.nums}"><input class="form-control" required="" value="{$item.nums}">
                </td>
                <td class="" data-value="{$item.price}"><input class="form-control" required="" value="{$item.price}">
                </td>
                <td class="">
                    <div class="btn btn-warning" onclick="(()=> {$(this).closest('tr').remove();})()">删除</div>
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>
    </div>


    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <div class="btn btn-primary btn-embossed" id="submit">{:__('OK')}</div>
        </div>
    </div>
</form>