<div class="panel panel-default panel-intro">

    <div class="panel-heading">
        {:build_heading(null,FALSE)}
        <ul class="nav nav-tabs" data-field="status">
            <li class="{:$Think.get.status === null ? 'active' : ''}"><a data-toggle="tab" data-value="" href="#t-all">{:__('All')}</a>
            </li>
            {foreach name="statusList" item="vo"}
            <li class="{:$Think.get.status === (string)$key ? 'active' : ''}"><a data-toggle="tab" data-value="{$key}"
                                                                                 href="#t-{$key}">{$vo}</a></li>
            {/foreach}
        </ul>
    </div>


    <div class="panel-body">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div class="toolbar" id="toolbar">
                        <a class="btn btn-primary btn-refresh" href="javascript:;" title="{:__('Refresh')}"><i
                                class="fa fa-refresh"></i> </a>
                        <a class="btn btn-success btn-add {:$auth->check('depot/storage/add')?'':'hide'}"
                           href="javascript:;"
                           data-area='["100%", "100%"]'
                           title="{:__('Add')}"><i class="fa fa-plus"></i> {:__('Add')}</a>
                    </div>
                    <table class="table table-striped table-bordered table-hover table-nowrap"
                           data-operate-approval="{:$auth->check('depot/storage/approval')}"
                           data-operate-del="{:$auth->check('depot/storage/del')}"
                           data-operate-info="{:$auth->check('depot/storage/info')}"
                           data-operate-reject="{:$auth->check('depot/storage/reject')}"
                           data-operate-stock="{:$auth->check('depot/storage/stock')}"
                           id="table"
                           width="100%">
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
