<div class="footer">
    <nav class="footer-bar">
        <div class="tab-item  mui-active">
            <a href="{:url('home/index/index')}">
                <span class="mui-icon mui-icon-home"></span>
                <span class="mui-tab-label">首页</span>
            </a>
        </div>
        <div class="tab-item">
            <a href="{:url('home/index/search')}">
                <span class="mui-icon mui-icon-search"></span>
                <span class="mui-tab-label">搜索</span>
            </a>
        </div>
        <div class="tab-item">
            <a href="{:url('home/business/index')}">
                <span class="mui-icon mui-icon-contact"></span>
                <span class="mui-tab-label">我的</span>
            </a>
        </div>
    </nav>
</div>